.main-content {
  padding-bottom: 10rem;
  width: 100%;
  min-height: 1000px;
  color: #010101;
}

.main-content:after {
  content: "";
  display: table;
  clear:both;
}

.main-content .layer {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.main-content .layer h2{
  text-align: center;
  font-weight: 400;
}

.main-content .layer-redbg {
  background: rgba(67,6,16,1);
}

.main-content .layer-whitebg {
  background: rgba(255,255,255,1);
}

.main-content .layer-graybg {
  background: rgba(235,235,235,1);
}

.main-content .ambassador-title {
  text-align: center;
}

.main-content .ambassador-title h2 {
  font-size: 3rem;
}

.main-content .layer .layer-title{
  text-align: center;
  font-weight: 400;
}

.main-content .layer .layer-intro{
  width: 60%;
  margin: 3rem auto 0;
  line-height: 30px;
  font-size: 1.5rem;
  text-align: center;
}

/*支持*/
.main-content .layer .support-column {
  margin-top: 3rem;
  height: 44px;
  text-align: left;
  font-size: 1.5rem;
}
.main-content .layer .support-column .support {
  width: 100%;
  height: 100%;
  /*padding-left: 10%;*/
}

.main-content .layer .support-column .support-let {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
}
.main-content .layer .support-column .support-let img {
  margin-right: 1rem;
}

.main-content .layer .support-column .support-right {
  float: left;
  width: 80%;
  height: 100%;
  padding-top: 1rem;
}


/*权益*/
.main-content .layer .rights-column {
  margin-top: 5rem;
  text-align: center;
}

.main-content .layer .rights-column dd {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.main-content .layer .rights-column dd b {
  font-size: 1.5rem;
}

/*职责*/
.main-content .layer .responsibility-column {
  margin-top: 5rem;
  font-size: 1.5rem;
  text-align: center;
}

/*招募*/
.main-content .layer .recruit-column {
  margin-top: 5rem;
  text-align: left;
  font-size: 2rem;
}

.main-content .layer .recruit-column p {
  width: 90%;
  margin: 0 auto;
}

.main-content .layer .recruit-column .recruit-condition {
  width: 90%;
  margin: 1rem auto 0;
  list-style: none;
  padding-left: 0;
}

.main-content .layer .recruit-column .recruit-condition li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.main-content .layer .recruit-column .recruit-condition li:before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(239,182,112,1);
}

/*报名*/
.main-content .layer .register-column {
  width: 90%;
  margin: 4rem auto 0;
  text-align: left;
  font-size: 2rem;
}

.main-content .layer .register-column p {
  font-size: 1.5rem;
}

.main-content .layer .register-column p i {
  font-style: normal;
  color: #EFB670;
}

/*成为大使*/
.main-content .layer .audit-column {
  /*position: relative;*/
  margin-top: 5rem;
  text-align: center;
}

.main-content .layer .audit-column .audit-item {
  /*height: 4rem;*/
  /*line-height: 4rem;*/
  padding: 1rem 0;
  border: 2px solid rgba(3,3,3,.5);
  border-radius: 6px;
}

/*.main-content .layer .audit-column:not(:last-child):after {*/
/*  position: absolute;*/
/*  top:22px;*/
/*  right :-7px;*/
/*  content: "";*/
/*  display: inline-block;*/
/*  width: 56px;*/
/*  height: 8px;*/
/*  background: url("../image/point.png");*/
/*}*/

.main-content .layer .audit-column .audit-item b {
  font-size: 1.5rem;
  /*color: #fff;*/
}

/*合作*/
.main-content .cooperation-box {
  border: 6px solid rgba(218, 216, 217, 1);
  box-shadow: 0px 6px 20px 0px rgba(50, 15, 83, 0);
  border-radius: 6px;
}

.main-content .layer .cooperation-column {
  margin-top: 5rem;
  height: 4rem;
  text-align: center;
}

.main-content .layer .cooperation-column img {
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .main-content .ambassador-title h2 {
    font-size: 1.83rem;
  }

  .main-content .layer{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .main-content .layer .layer-title {
    font-size: 1.83rem;
    font-weight: 500;
  }

  .main-content .layer .layer-intro {
    width: 90%;
    margin: 0 auto;
  }

  .main-content .layer .support-column {
    font-size: 1.17rem;
  }

  .main-content .layer .support-column .support {
    padding-left: 0;
  }

  .main-content .layer .recruit-column {
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  .main-content .layer .responsibility-column {
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  .main-content .layer .rights-column {
    margin-top: 3rem;
  }

  .main-content .layer .rights-column dl dt img {
    height: 5rem;
  }

  .main-content .layer .rights-column dd {
    font-size: 1.5rem;
  }

  .main-content .layer .recruit-column .recruit-condition li {
    font-size: 1.17rem;
  }

  .main-content .layer .recruit-column .recruit-condition li:before {
    width: 6px;
    height: 6px;
  }

  .main-content .layer .register-column {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main-content .layer .register-column p {
    font-size: 1.17rem;
  }

  .main-content .layer .audit-column {
    margin-top: 3rem;
  }

  .main-content .layer .audit-column .audit-item b {
    font-size: 1.5rem;
  }

  .small-size {
    font-size: 1.0rem!important;
    /*word-wrap: break-word;*/
  }

  /*.main-content .layer .audit-column:not(:last-child):after {*/
  /*  top: 65px;*/
  /*  right: 120px;*/
  /*}*/

  .main-content .layer .cooperation-column {
    margin-top: 1.17rem;
  }

}

@media screen and (min-width: 768px){
  .main-content .layer .cooperation-column img {
    width: 60%;
  }
}

@media screen and (min-width: 992px){
  /*.main-content .layer .cooperation-column img {*/
  /*  width: 60%;*/
  /*}*/
}

@media screen and (min-width: 1200px ) and (max-width: 1919px){
  .main-content .layer .audit-column .audit-item {
    height: 5rem;
    /*padding: auto 0;*/
  }

  .four-lines {
    height: 8rem!important;
  }

  .main-content .layer .cooperation-column img {
    width: 90%;
  }
}

@media screen and (min-width: 1920px){
  .main-content .layer .audit-column .audit-item {
    height: 4.6rem;
    padding: 1rem 0;
  }

  .main-content .layer .cooperation-column img {
    width: 90%;
  }
}





















