#index .item a {
    display: block;
    width: 100%;
    height: 100%;
}

#introduce {
    padding-top: 10rem;
}

#introduce .i-title {
    color: #333;
    font-size: 33px;
}

#introduce .i-title .i-ii {
    margin-top: 1rem;
    font-weight: bold;
}

#introduce .i-text .line {
    margin-top: 3rem;
}

#introduce .i-text .i-i {
    margin-top: 6rem;
    font-size: 13px;
}

#introduce .i-text .i-ii {
    margin-top: 2rem;
    font-size: 13px;
}

#introduce .i-img {
    text-align: center;
    padding-top: 2rem;
}

#introduce .i-img img {
    width: 60%;
}

#application {
    padding-top: 10rem;
    padding-bottom: 3rem;
}

#application .line {
    margin: 0 auto 8rem;
}

#application .a-text {
    text-align: center;
    margin-bottom: 5rem;
}

#application .a-icon img {
    width: 4.5rem;
    height: 4.5rem;
}

#application .a-text .a-i {
    font-size: 17px;
    margin: 2rem 0;
    font-weight: bold;
}

#application .a-text .a-ii {
    font-size: 13px;
    line-height: 2.5rem;
}

#node-plan {
    background: url("../image/node-plan.png") no-repeat center/cover;
}

#node-plan .node-plan {
    padding: 10rem 0 8rem;
    background-color: rgba(0, 0, 0, 0.6);
}

#node-plan .np-text {
    font-family: 'SourceHanSansCN-Regular';
    color: #fff;
    text-align: center;
}

#node-plan .np-text .np-i {
    font-size: 20px;
    line-height: 4rem;
}

#node-plan .np-text .np-btn {
    margin-top: 5rem;
}

#node-plan .np-text .np-btn a {
    display: inline-block;
    color: #ffffff;
    font-size: 17px;
    padding: 1rem 4rem;
    border: 3px solid #fff;
    border-radius: 2.5rem;
}

#node-plan .np-text .np-btn a:hover {
    text-decoration: none;
}

#platform {
    padding: 0 0 10rem;
}

#platform .line {
    margin: 0 auto 8rem;
}

#platform .p-img {
    text-align: center;
}

#platform .p-img img {
    width: 65%;
}

#platform .p-i {
    margin: 1rem 0;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

#platform .p-right {
    padding-top: 10%;
}

#platform .p-icon {
    display: inline-block;
    vertical-align: top;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    background: url("../image/mark.png") no-repeat center/cover;
}

#platform .p-text {
    display: inline-block;
    width: 85%;
    font-size: 13px;
    vertical-align: top;
}

#platform .p-phone {
    display: none;
}

#milepost {
    padding: 10rem 0;
    background: url("../image/milepost.png") no-repeat center/cover;
}

#milepost .title {
    color: #fff;
}

#milepost .line {
    margin: 0 auto 8rem;
}

#milepost .m-c {
    display: none;
    color: #fff;
}

#milepost .m-c-pc {
    text-align: center;
}

#milepost .m-c-pc img {
    width: 100%;
}

#milepost .m-c .m-line {
    text-align: center;
    margin: 1rem 0;
}

#milepost .m-c .m-line img {
    width: 50%;
    height: 1000px;
}

#milepost .m-c .m-node {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.m-c .m-node .m-time {
    margin: auto;
    padding: 0.5rem 0;
    border: 2px solid #fff;
    border-radius: 3rem;
}

.m-c .m-node .m-i {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    line-height: 2rem;
}

#wallet {
    padding: 10rem 0;
    background: url("../image/walletBg.png") no-repeat center/cover;
}

#wallet .line {
    margin: 0 auto 8rem;
}

#wallet .sm-i {
    font-size: 30px;
    margin-bottom: 15px;
}

#wallet .sm-ii {
    font-size: 20px;
}

#wallet .sm-icon {
    display: flex;
    justify-content: space-between;
    padding-top: 12rem;
}

#wallet .sm-icon > div {
    position: relative;
    width: 80px;
    text-align: center;
}

#wallet .sm-icon .sm-web {
    display: block;
}

#wallet .sm-icon .sm-img img{
    width: 100%;
}

#wallet .sm-icon .sm-iii {
    font-size: 16px;
}

#wallet .sm-r > img {
    width: 100%;
}

#wallet .sm-qr {
    position: absolute;
    top: -145px;
    left: -35px;
    width: 150px;
    height: 0;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s;
    overflow: hidden;
    font-size: 0;
    z-index: 100;
}

#wallet .sm-ios .sm-qr > span {
    font-size: 14px;
    line-height: 150px;
}

#wallet .sm-ios-p .sm-qr > span {
    font-size: 14px;
    line-height: 150px;
}

#wallet .sm-ios:hover .sm-qr {
    height: 150px;
}

#wallet .sm-code {
    width: 130px;
    height: 130px;
    margin-top: 10px;
    margin-left: 10px;
}

#wallet .sm-code img {
    width: 100%;
}

#wallet .sm-android:hover .sm-qr{
    height: 150px;
}

#wallet .sm-show {
    display: none;
}

#wallet .sm-show .sm-r .sm-ii {
    margin-bottom: 20px;
}

#wallet .sm-show .sm-icon {
    padding-top: 20px;
}

#wallet .sm-show .sm-qr {
    top: 50px;
}

#exchanges {
    padding: 10rem 0;
}

#exchanges .line {
    margin: 0 auto 8rem;
}

#exchanges .e-img {
    text-align: center;
    margin-bottom: 5rem;
}

#exchanges .e-img a {
    display: block;
}

#exchanges .e-img img {
    width: 50%;
}

#exchanges-ing {
    padding-bottom: 10rem
}

#exchanges-ing .line {
    margin: 0 auto 8rem;
}

#exchanges-ing .e-img {
    text-align: center;
    margin-bottom: 5rem;
}

#exchanges-ing .e-img a {
    display: block;
}

#exchanges-ing .e-img img {
    width: 50%;
}

#mention {
    padding: 10rem 0;
    background-color: #f7f7f7;
}

#mention .line {
    margin: 0 auto 8rem;
}

#mention .men-li {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mention .men-li .men-b {
    width: 33%;
    height: 260px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.men-li .men-b a {
    padding: 60px;
}

.men-li .men-b .men-t {
    margin-bottom: 20px;
}

.men-li .men-b .men-t img {
    width: 100%;
}

.men-li .men-b .men-i {
    text-align: center;
}

#index .obd-text {
    position: absolute;
    width: 50%;
    top: 20%;
    left: 10%;
    color: #fff;
}

#index .obd-text .ot-t {
    width: 100%;
}

#index .obd-text .ot-t img {
    width: 100%;
}

#index .obd-text .ot-i {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

#index .obd-text .ot-ii {
    font-size: 24px;
    font-weight: 200;
}

#index .obd-text .ot-iii {
    margin: 25px 0;
    font-size: 22px;
    font-weight: 400;
}

.obd-text .ob-price {
    color: #ff3f5d;
    font-size: 40px;
    font-weight: bold;
}

.obd-text .os-price {
    color: #ff3f5d;
    font-size: 26px;
}

#index .obd-text .ot-iii span {
    display: inline-block;
    vertical-align: center;
}

#index .obd-text .ot-iiii {
    margin-bottom: 50px;
    font-weight: 200;
    font-size: 20px;
}

.obd-text .oi-unit {
    position: relative;
    z-index: 10;
}

.obd-text .oi-line {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 10px;
    border-radius: 2px;
    background-color: #2A83E7;
    z-index: -1;
}

#index .obd-text .ot-btn {
    width: 200px;
}

#index .obd-text .ot-btn img {
    width: 100%;
}

#index .time {
    position: absolute;
    width: 100%;
    bottom: 80px;
    text-align: center;
}

.banner-time-title{
    font-size:28px;
    font-weight:400;
    line-height:28px;
    float: none;
    color: #fff;

}
.banner-time-row{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    height: 65px;
    color: #fff;
}

.banner-time-hms{
    text-align: center;
    font-size:28px;
    /*font-family:Lato-Regular,Lato;*/
    font-weight:400;
    line-height:36px;
    margin: 0 10px;
}

.banner-time-hms2{
    text-align: center;
    font-size:12px;
    /*font-family:SourceHanSansCN-Light,SourceHanSansCN;*/
    font-weight:300;
    line-height:16px;

}

@media screen and (max-width: 1500px) and (min-width: 1301px){
    #index .obd-text {
        top: 15%;
    }

    #index .obd-text .ot-i {
        font-size: 35px;
        margin-bottom: 15px;
    }

    #index .obd-text .ot-iii {
        font-size: 20px;
        margin: 15px 0 25px;
    }

    .obd-text .ob-price {
        font-size: 35px;
    }

    .obd-text .os-price {
        font-size: 24px;
    }

    #index .obd-text .ot-iiii {
        margin-bottom: 30px;
    }

    #index .time {
        bottom: 50px;
    }
}

@media screen and (max-width: 1300px) and (min-width: 769px) {
    #index .obd-text .ot-i {
        font-size: 30px;
        line-height: 33px;
        margin-bottom: 10px;
    }

    #index .obd-text .ot-ii {
        font-size: 22px;
        line-height: 25px;
    }

    #index .obd-text .ot-iii {
        font-size: 20px;
        line-height: 25px;
        margin: 12px 0 15px;
    }

    .obd-text .ob-price {
        font-size: 30px;
    }

    #index .obd-text .ot-iiii {
        margin-bottom: 30px;
    }

    #index .obd-text .ot-btn {
        width: 165px;
    }

    .banner-time-title {
        font-size: 24px;
        line-height: 24px;
    }

    .banner-time-hms {
        font-size: 24px;
    }

    .banner-time-hms2 {
        line-height: 10px;
    }

    #index .time {
        bottom: 40px;
    }
}

@media screen and (max-width: 1300px) and (min-width: 769px) {
    .index .carousel-inner h1 {
        font-size: 5rem!important;
    }

    .tech p.i {
        font-size: 4rem!important;
    }

    .tech {
        top: 25%!important;
    }

    .tech p.ii {
        display: none!important;
    }

    .swap p.i {
        font-size: 3.5rem!important;
    }
}

@media screen and (max-width: 1350px) {
    #wallet .sm-i {
        font-size: 25px;
    }

    #wallet .sm-ii {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
    #wallet .sm-r > img {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1100px) {
    #index .obd-text .ot-ii {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    #wallet .sm-show {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #introduce {
        padding-top: 3rem;
    }

    #introduce .i-title .i-i {
        font-size: 2rem;
    }

    #introduce .i-title .i-ii {
        margin-top: 0;
        font-size: 2rem;
    }

    #introduce .i-text .line {
        margin-top: 2rem;
    }

    #introduce .i-text .i-i {
        margin-top: 2rem;
    }

    #application {
        padding-top: 4rem;
        padding-bottom: 0;
    }

    #application .line {
        margin: 0 auto 3rem;
    }

    #node-plan .node-plan {
        padding: 4rem 0 5rem;
    }

    #node-plan .np-text .np-i {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #node-plan .np-text .np-btn {
        margin-top: 3rem;
    }

    #node-plan .np-text .np-btn a {
        font-size: 1rem;
        padding: 0.5rem 3rem;
    }

    #platform {
        padding: 4rem 0 0;
    }

    #platform .line {
        margin: 0 auto 4rem;
    }

    #platform .p-pc {
        display: none;
    }

    #platform .p-phone {
        display: block;
    }

    #platform .p-right {
        padding-top: 5%;
        padding-bottom: 2rem;
    }

    #milepost {
        display: none;
        padding: 5rem 0;
    }

    #wallet {
        padding: 4rem 0;
    }

    #wallet .line {
        margin: 0 auto 3rem;
    }

    #wallet .sm-i {
        font-size: 1.5rem;
    }

    #wallet .sm-ii {
        font-size: 1rem;
    }

    #wallet .sm-icon > div {
        width: auto;
    }

    #wallet .sm-btn {
        display: block;
        border: 2px solid #4d4d4d;
        height: 40px;
        padding: 0 15px;
        border-radius: 30px;
    }

    #wallet .sm-btn .sm-img-p {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }

    #wallet .sm-btn .sm-android .sm-qr-a {
        display: none;
    }

    #wallet .sm-android:hover .sm-qr {
        display: none;
    }

    #wallet .sm-btn .sm-qr-height {
        height: 150px;
    }

    #wallet .sm-btn .sm-iii-p {
        display: inline-block;
        text-align: left;
        line-height: 35px;
        vertical-align: middle;
    }

    #exchanges {
        padding: 4rem 0;
    }

    #exchanges .line {
        margin: 0 auto 3rem;
    }

    #exchanges .e-img img {
        width: 100%;
    }

    #exchanges .e-img {
        margin-bottom: 3rem;
    }

    #exchanges-ing {
        padding-bottom: 4rem;
    }

    #exchanges-ing .line {
        margin: 0 auto 3rem;
    }

    #exchanges-ing .e-img img {
        width: 100%;
    }

    #exchanges-ing .e-img {
        margin-bottom: 3rem;
    }

    #mention {
        padding: 4rem 0;
    }

    #mention .line {
        margin: 0 auto 3rem;
    }

    #milepost .m-c-pc {
        display: none;
    }

    #milepost .m-c {
        display: block;
    }

    #milepost .m-tn1 {
        margin-top: 6rem;
    }

    #milepost .m-tn2 {
        margin-top: 5rem;
    }

    #milepost .m-tn3 {
        margin-top: 6rem;
    }

    #milepost .m-tn4 {
        margin-top: 5rem;
    }

    #milepost .m-tn5 {
        margin-top: 3rem;
    }

    #milepost .m-tn6 {
        margin-top: 2rem;
    }

    #milepost .m-tn7 {
        margin-top: 3rem;
    }

    #milepost .m-bn2 {
        margin-top: 5rem;
    }

    #milepost .m-bn3 {
        margin-top: 3rem;
    }

    #milepost .m-bn4 {
        margin-top: 5rem;
    }

    #milepost .m-bn5 {
        margin-top: 4rem;
    }

    #milepost .m-bn6 {
        margin-top: 5rem;
    }

    #milepost .m-bn7 {
        margin-top: 5rem;
    }

    #index .obd-text {
        width: 70%;
        top: 25%;
        left: 6%;
    }

    #index .obd-text .ot-i {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 0;
    }

    #index .obd-text .ot-vi {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .obd-text .ob-price {
        font-size: 14px;
    }

    #index .obd-text .ot-btn {
        width: 75px;
    }

    #index .time {
        bottom: -5%;
    }

    .banner-time-title {
        font-size: 14px;
        line-height: normal;
    }

    .banner-time-hms {
        font-size: 14px;
        line-height: normal;
        margin: 0 5px;
    }

    .banner-time-hms2 {
        font-weight: 100;
    }

    .banner-time-row {
        margin: 3px auto 0;
    }

    .time .xs-time {
        display: inline-block;
        font-size: 12px;
        font-weight: 100;
    }

    .time .cn-num {
        display: inline-block;
    }

    #mention .men-li {
        display: block;
    }

    #mention .men-li .men-b {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .men-li .men-b a {
        padding: 30px 15px;
    }

    .men-li .men-b .men-t {
        text-align: center;
    }

    .men-li .men-b .men-t img {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    #wallet .sm-icon > div {
        /*width: 50px;*/
    }

    #wallet .sm-btn .sm-qr-height {
        height: 100px;
    }

    #wallet .sm-icon .sm-iii-p {
        font-size: 12px;
    }

    #wallet .sm-show .sm-qr {
        top: 45px;
        left: -9px;
        width: 100px;
    }

    #wallet .sm-ios-p .sm-qr > span {
        font-size: 12px;
        line-height: 100px;
    }

    #wallet .sm-android .sm-code {
        width: 80px;
        height: 80px;
    }

    #wallet .sm-android:hover .sm-qr {
        display: none;
    }

    #index .time-cn {
        bottom: -10%;
    }
}

@media screen and (max-width: 330px) {
    #milepost .m-c .m-line img {
        width: 70%;
        height: 1100px;
    }

    #wallet .sm-btn {
        padding: 0 10px;
        height: 35px;
    }

    #wallet .sm-btn .sm-iii-p {
        line-height: 30px;
    }

    #wallet .sm-android:hover .sm-qr {
        display: none;
    }
}

#mention .carousel-control.left {
    background-image: none!important;
}

#mention .carousel-control.right {
    background-image: none!important;
}

#mention .carousel-control {
    width: 10%!important;
    opacity: 1!important;
}

#mention .car-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#mention .car-left {
    background-image: url('../image/zuo.png');
}

#mention .car-right {
    background-image: url('../image/you.png');
}
