.navbar {
    background-color: #a4a4a4;
}

#news {
    padding: 10rem 0 3rem;
}

#news .sidebar {
    text-align: center;
}

#news .sidebar a {
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: #323232;
    margin-bottom: 10px;
}

#news .sidebar a:hover {
    color: #DC1726;
}

#news #article {
    padding: 6rem 5rem 3rem;
    box-shadow: 0 0 6px 0 #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#article .a-head .a-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#article .a-head .a-notice {
    width: 100%;
}

.a-head .a-notice .a-time {
    float: left;
    margin-right: 2rem;
}

.a-head .a-notice .a-see {
    float: left;
}

.a-head .a-notice .a-like {
    float: right;
}

.a-head .a-notice .a-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.a-head .a-notice .a-ni {
    display: inline-block;
    vertical-align: middle;
}

.a-time .i-time {
    background: url('../image/time.png') center/contain no-repeat;
}

.a-see .i-see {
    background: url('../image/see.png') center/contain no-repeat;
}

.a-like .i-like {
    background: url('../image/likes.png') center/contain no-repeat;
}

#article .a-line {
    width: 100%;
    height: 1px;
    margin: 1.5rem 0 3rem;
    background-color: #a0a0a0;
}

#article .a-body {
    line-height: 2.5rem;
}

#article .a-body img {
    width: 100%;
}

#article .a-body .a-rights {
    margin-top: 3rem;
}

.a-body .a-rights span {
    margin-right: 2rem;
}

#relevant .r-title {
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#relevant .r-block {
    width: 80%;
    margin: 0 auto 2rem;
    padding: 1.5rem;
    box-shadow: 0 0 6px 0 #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#relevant .r-block a {
    display: block;
    width: 100%;
    height: 100%;
}

.r-block .r-img {
    width: 100%;
}

@media screen and (max-width: 1280px) and (min-width: 992px) {
    #relevant .r-title {
        width: 100%;
    }

    #relevant .r-block {
        width: 100%;
    }
}

@media screen and (max-width: 991px) and (min-width: 769px) {
    #newsNav {
        display: none;
    }

    #relevant {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #newsNav {
        display: none;
    }

    #relevant {
        display: none;
    }

    #news {
        padding: 6rem 0 3rem;
    }

    #news #article {
        padding: 3%;
    }

    #article .a-head .a-title {
        font-size: 2rem;
    }

    #article .a-head .a-notice {
        font-size: 1rem;
    }

    .a-head .a-notice .a-icon {
        margin-right: 0;
    }

    .a-head .a-notice .a-time {
        margin-right: 1rem;
    }

    #article .a-line {
        margin: 1.5rem 0 2rem;
    }

    #article .a-body .a-img img {
        width: 100%;
    }
}
