.node-banner .carousel-caption {
    top: 30%;
}

#index .carousel-inner div {
    font-size: 5.5rem;
}

#node-introduce {
    padding: 8rem 0;
}

#node-introduce .ni-img {
    text-align: center;
}

#node-introduce .ni-img img {
    width: 80%;
}

#node-introduce .ni-text {
    font-size: 13px;
    padding-top: 10%;
    line-height: 2rem;
}

#blueprint {
    padding-bottom: 8rem;
}

#blueprint .line {
    margin: 0 auto 5rem;
}

#blueprint .b-img {
    text-align: center;
}

#blueprint .b-img img {
    width: 80%;
    height: 80%;
}

#blueprint .b-i {
    margin: 3rem 0;
    font-size: 17px;
    font-weight: bold;
}

#blueprint .b-text {
    font-size: 13px;
    line-height: 2rem;
}

#incentives {
    background: url("../image/incentivesbg.png") no-repeat center/cover;
}

#incentives .line {
    margin: 0 auto 4rem;
}

#incentives .incentives {
    padding-top: 8rem;
    background-color: rgba(0, 0, 0, 0.6);
}

#incentives .incentives .i-text {
    padding: 0 0 12rem;
}

#incentives .incentives .title {
    color: #ffffff;
}

.incentives .i-text .i-i {
    text-align: center;
    color: #ffffff;
    font-size: 17px;
}

#reward {
    padding: 8rem 0;
}

#reward .line {
    margin: 0 auto 5rem;
}

#reward .r-ti {
    margin-bottom: 5rem;
    text-align: center;
}

#reward .r-img {
    text-align: center;
}

#reward .r-img img {
    width: 80%;
}

#reward .r-i {
    font-size: 17px;
    font-weight: bold;
}

#reward .r-ii {
    font-size: 13px;
    margin-top: 1rem;
}

#reward .r-text1 {
    margin-top: 10%;
}

#reward .r-text2 {
    margin-top: 15%;
}

#reward .r-text3 {
    margin-top: 10%;
}

#reward .remakes {
    padding: 5rem 0;
    font-size: 13px;
    text-align: center;
}

#reward .remakes span {
    display: inline-block;
    vertical-align: middle;
}

#reward .remakes .r-icon {
    width: 1.5rem;
    height: 1.5rem;
    background: url("../image/remakes.png") no-repeat center/cover;
}

#reward .g-text {
    font-size: 13px;
    margin-top: 8%;
    line-height: 2rem;
}

#reward .g-img {
    text-align: center;
}

#reward .g-img img {
    width: 80%;
}

#timeline {
    background: url("../image/tlbg.png") no-repeat center/cover;
}

#timeline .timeline {
    background-color: rgba(33, 35, 58, 0.8);
    padding: 10rem 0;
}

#timeline .title {
    color: #ffffff;
}

#timeline .t-title {
    font-size: 17px;
    font-weight: normal;
}

#timeline .line {
    background-color: #fff;
    margin: 0 auto 3rem;
}

#timeline .t-img {
    text-align: center;
}

#timeline .t-img img {
    width: 85%;
}

#rules {
    padding: 0 0 5rem;
}

#rules .line {
    margin: 0 auto 3rem;
}

#rules .r-text {
    font-size: 13px;
    padding: 3rem 1rem;
    border-radius: 0.75rem;
    margin: 3rem 0;
}

#rules .r-text > div {
    display: inline-block;
}

#rules .r-text .r-doc {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    vertical-align: top;
}

#rules .r-text .r-i {
    width: 95%;
}

#rules .r-t1 {
    color: #3169B6;
    background-color: #BED8FC;
}

#rules .r-t1 .r-doc {
    background-color: #3169B6;
}

#rules .r-t2 {
    color: #4EAC9A;
    background-color: #A6E6DA;
}

#rules .r-t2 .r-doc {
    background-color: #4EAC9A;
}

#rules .r-tcn1 {
    min-height: 12rem;
}

#rules .r-t3 {
    color: #D55E79;
    background-color: #ECB0BE;
}

#rules .r-t3 .r-doc {
    background-color: #D55E79;
}

#rules .r-t4 {
    color: #B59B4B;
    background-color: #F6EBCB;
}

#rules .r-t4 .r-doc {
    background-color: #B59B4B;
}

#rules .r-tcn2 {
    min-height: 11rem;
}

#rules .r-t5 {
    color: #8DB865;
    background-color: #EAF6E0;
}

#rules .r-t5 .r-doc {
    background-color: #8DB865;
}

#rules .r-t6 {
    color: #955AB1;
    background-color: #E7CDF3;
}

#rules .r-t6 .r-doc {
    background-color: #955AB1;
}

#rules .r-tcn3 {
    min-height: 9rem;
}

#configuration {
    padding: 8rem 0;
    background: url("../image/configuration.png") no-repeat center/cover;
}

#configuration .title {
    color: #1b4c8f;
}

#configuration .line {
    margin: 0 auto 5rem;
}

#configuration .c-c {
    text-align: center;
}

#configuration .c-c .c-circle {
    width: 12rem;
    height: 12rem;
    line-height: 12rem;
    border-radius: 50%;
    border: 3px solid #1B4C8F;
    color: #1B4C8F;
    font-size: 2.5rem;
    margin: auto;
}

#configuration .c-c .c-line {
    width: 3rem;
    height: 3px;
    margin: 2rem auto 1rem;
    background-color: #D8271C;
}

#configuration .c-c .c-text {
    color: #1B4C8F;
    font-size: 13px;
}

#map {
    padding: 10rem 0;
    height: 72rem;
    background: url("../image/map.png") no-repeat center/cover;
}

#map .title {
    color: #fff;
}

#map .line {
    margin: auto;
    background-color: #fff;
}

@media screen and (max-width: 1600px) {
    #rules .r-tcn1 {
        min-height: 14rem;
    }

    #rules .r-tcn2 {
        min-height: 12rem;
    }
}

@media screen and (max-width: 1310px) and (min-width: 1201px) {
    #configuration .c-c .c-circle {
        width: 10rem;
        height: 10rem;
        line-height: 10rem;
        font-size: 2rem;
    }

    #rules .r-tcn1 {
        min-height: 14rem;
    }

    #rules .r-tcn3 {
        min-height: 11rem;
    }
}

@media screen and (max-width: 1210px) {
    #rules .r-tcn1 {
        min-height: 16rem;
    }

    #rules .r-tcn2 {
        min-height: 14rem;
    }

    #rules .r-tcn3 {
        min-height: 13rem;
    }
}

@media screen and (max-width: 1130px) {
    #rules .r-text .r-i {
        width: 90%;
    }
}

@media screen and (max-width: 1050px) {
    #rules .r-tcn2 {
        min-height: 13rem;
    }
}

@media screen and (max-width: 992px) and (min-width: 769px){
    #configuration .c-c {
        margin-bottom: 2rem;
    }

    #map {
        padding: 6rem 0;
        height: 50rem;
    }
}

@media screen and (max-width: 970px) {
    #rules .r-tcn3 {
        min-height: 14rem;
    }
}

@media screen and (max-width: 840px) {
    #rules .r-tcn1 {
        min-height: 16rem;
    }
}

@media screen and (max-width: 1280px) and (min-width: 992px) {
    #index .carousel-inner div {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 991px) and (min-width: 769px) {
    #index .carousel-inner div {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 768px) {
    #rules .r-tcn1 {
        min-height: 0;
    }

    #rules .r-tcn2 {
        min-height: 0;
    }

    #rules .r-tcn3 {
        min-height: 0;
    }

    #index .carousel-inner div {
        font-size: 2rem;
    }

    .node-banner .carousel-caption {
        top: 20%;
    }

    #node-introduce {
        padding: 4rem 0;
    }

    #blueprint {
        padding-bottom: 4rem;
    }

    #blueprint .line {
        margin: 0 auto 3rem;
    }

    #blueprint .b-i {
        margin: 2rem 0;
        font-size: 1.5rem;
    }

    #incentives .line {
        margin: 0 auto 3rem;
    }

    #incentives .incentives {
        padding-top: 3rem;
    }

    #incentives .incentives .i-text {
        padding: 0 0 3rem;
    }

    .incentives .i-text .i-i {
        font-size: 1.5rem
    }

    #reward {
        padding: 4rem 0;
    }

    #reward .r-i {
        font-size: 1.5rem;
    }

    #reward .r-ii {
        margin-top: 1rem;
    }

    #reward .r-text2 {
        margin-top: 10%;
    }

    #reward .remakes {
        padding: 2rem 0;
        text-align: left;
    }

    #reward .r-ri {
        width: 90%;
    }

    #reward .g-text {
         margin-top: 0;
    }

    #reward .g-img {
        margin-top: 2rem;
    }

    #timeline .timeline {
        padding: 3rem 0;
    }

    #timeline .t-img img {
        width: 100%;
    }

    #rules {
        padding: 0 0 1rem;
    }

    #rules .r-text {
        margin: 0 0 2rem;
    }

    #rules .r-text .r-i {
        width: 91%;
    }

    #configuration {
        padding: 4rem 0;
    }

    #configuration .line {
        margin: 0 auto 3rem;
    }

    #configuration .c-c {
        margin-bottom: 2rem;
    }

    #map {
        padding: 2rem 0;
        height: 22rem;
    }
}

a.annex {
    color: #337ab7!important;
    text-decoration: underline!important;
}

a.annex:hover {
    color: #337ab7!important;
    text-decoration: underline!important;
}

a.annex:focus {
    color: #337ab7!important;
    text-decoration: underline!important;
}