/*容器两边不要留白*/
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.black-color {
  color: #323232;
}

.icon-common {
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
}

.common-text {
  text-align: center;
  font-size: 33px;
  color: #323232;
  font-weight: 500;
}
.common-text .modify-line {
  width: 50px;
  height: 20px;
  border-top: 3px solid #BFBFBF;
  display: inline-block;
}

.extract-banner {
  position: relative;
  margin-bottom: 50px;
}

.extract-banner img {
  min-height: 150px;
}

.extract-banner > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 38px;
  text-align: center;
}

.img-responsive2 {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .extract-banner {
    margin-bottom: 30px;
  }
  .extract-banner > div {
    font-size: 28px;
  }

  .common-text {
    font-size: 22px;
  }
}

