$contentPrimary: #111;
$contentMed: #5b5b5b;
$contentLight: #ffffff;
$light: #ffffff;
$dark: #222222;
$divider: #dddddd;
$highlight: #d31515;
$navHighlight: #e73737;
$darkHighlight: #972626;
$headerHeight: 68px;
$contentWidth: 1100px;
$positive: #8fffa1;
$negative: #fda8ac;
$linkHoverDark: #999;
$background: #f5f5f5;
$themeDark: #171921;

$primaryFont: 'Inter-Regular';
